<%= render :partial => "publish/toolbar" %>

<div class="propertypage" style="padding: 0;">
  <h1>Choose a Subscription Plan</h1>
  
  <p>Here are the plans we currently offer.  Choose one, and you'll be all set to publish your survey!</p>
  
  <div class="plans">
    <% @subscription_plans.each do |plan| -%>
      <% subscription_plan_ad(plan) do -%>
        <% form_for "subscription", :url => subscriptions_url do |f| %>
          <%= f.hidden_field "subscription_plan_id", :value => plan.id %>
          <%= hidden_field_tag "return_to", url_for(:action => "set_subscription", :only_path => false) %>
          <button class="signup">
            <h4>Choose <%= plan.name %></h4>
            <h5>First 30 days free!</h5>
          </button>
        <% end -%>
      <% end -%>
    <% end -%>
  </div>
</div>