<% if @plans.size > 0 -%>
	<p>Want to create your own online surveys?  We can help.  Journey is simple, flexible, and hassle-free.  Choose a plan
  	from the options below:</p>

	<div class="plans">
		<% @plans.each do |plan| -%>
		  <% subscription_plan_ad(plan) do -%>		
  			<% form_for "subscription", :url => subscriptions_url do |f| %>
  				<%= f.hidden_field :subscription_plan_id, :value => plan.id %>
  				<button class="signup">
  					<h4>Sign up</h4>
  					<h5>First 30 days free!</h5>
  				</button>
  			<% end %>
  		<% end -%>
		<% end -%>
	</div>
	
	<h3>Refreshingly simple pricing</h3>

	<p>At Journey, we don't believe in feature tiers.  Just because you don't have
	thousands of customers doesn't mean you don't need graphing, or multi-page
	surveys, or spreadsheet export.</p>
	
	<p>That's why we decided to <b>just let everyone use the entire program</b>.  The
	only difference between our plans is quantity.  And the first 30 days are free on all our 
	plans, so you can try them out with no risk.</p>
	
	<h3>Custom plans available</h3>
	
	<p>If our plans don't fit your needs, let's talk.  Just email Nat at 
	<%= mail_to "nat@sugarpond.net" %> - we can create a custom plan just for you.</p>
<% else -%>
	<p><emph>Sorry, we're not quite ready to offer subscriptions yet.  Please check
	back soon!</emph></p>
	
	<p>If you'd like to know when subscriptions are available, please email
	<%= mail_to "nat@sugarpond.net" %> to get on our mailing list.</p>
<% end -%>