<h1>New subscription</h1>

<div class="propertypage">
  <% ae_form_for("person", @person, :url => subscriptions_url,
	:html => {:id => 'signup_form'}) do |f| -%>
	
	<%= hidden_field_tag "subscription[subscription_plan_id]", params[:subscription][:subscription_plan_id] %>

  <% if @person -%>
    <%= render :partial => 'payment_method_form', :locals => { :f => f } %>
  <% else -%>
     <p>
      	Welcome to Journey, and thanks for considering us!  We just need a few pieces of information from you in order
    	to complete your signup process.
      </p>

      <p style="font-weight: bold;">
      	<%= link_to "If you already have a Journey account, click here to log in.", :controller => "auth", :action => "login",
    		:return_to => subscriptions_url %>
      </p>
  	  <%= render :partial => 'account/signup_form', :locals => { :f => f } %>
  	<% end -%>
  <% end -%>
</div>