<h1>Subscriptions</h1>

<%= render :partial => "toplevel_tabs" %>

<style type="text/css">
	.plans {
		max-width: 60em;
		text-align: center;
	}
	.plan {
		display: inline-block; 
		border: 1px black solid; 
		background-color: white;
		padding: 0.5em;
		text-align: center;
		border-radius: 0.5em;
		-moz-border-radius: 0.5em;
		-webkit-border-radius: 0.5em;
		width: 18em;
		margin: 0.25em;
	}
	
	.plan h3 {
		margin-top: 0;
		font-size: 150%;
		background-color: #bad032;
		padding: 0.25em;
		border-radius: 0.25em;
		-moz-border-radius: 0.25em;
		-webkit-border-radius: 0.25em;
	}
	
	.plan ul {
		text-align: left;
		list-style-type: square;
		margin-left: 0;
		padding-left: 1em;
	}
	
	.plan .price {
		font-style: italic;
		margin-bottom: 0.5em;
		font-size: 110%;
	}
	
	button.signup {
		background-color: #080; 
		color: white; 
		cursor: pointer;
		border: 2px #bad032 solid;
		border-radius: 10px; 
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px;
	}
	
	button.signup h4 {
		font-size: 125%; 
		font-weight: bold;
		margin: 2px;
	}
	
	button.signup h5 {
		text-transform: uppercase;
		margin: 2px;
	}
</style>

<div class="propertypage">
	<% if @my_subscriptions.size > 0 -%>
		<h2>My Journey <%= @my_subscriptions.size == 1 ? "subscription" : "subscriptions" %></h2>
	
    	<% @my_subscriptions.each do |subscr| -%>
	       <%= render :partial => "show", :locals => {:subscription => subscr} %>
    	<% end -%>
	
		<h2>Add an additional subscription</h2>
	<% else -%>
		<h2>Subscribe to Journey</h2>
	<% end -%>
	
	<%= render :partial => 'new' %>
</div>